code/nerdchanii/stack/.idea/misc.xml
code/nerdchanii/stack/.idea/modules.xml
code/nerdchanii/stack/.idea/stack.iml
code/nerdchanii/stack/.idea/vcs.xml
code/nerdchanii/stack/.idea/workspace.xml
code/nerdchanii/stack/.idea/inspectionProfiles/profiles_settings.xml
code/nerdchanii/stack/.idea/inspectionProfiles/profiles_settings.xml
